spring:
  application:
    name: track-manegment
  datasource:
      username: transport_menegment_user
      password: oP3ulOMLOS2S2vFI74m6lNCjFB6NXQO7
      url: jdbc:postgresql://dpg-d5r2pj9r0fns73dt1r2g-a.oregon-postgres.render.com:5432/transport_menegment
      driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
