spring:
  application:
    name: track-manegment
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
